<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41379145-1', 'ianenders.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    <div class = "row">
      <div class = "span9">
        <h1 class="title"><a href="/">ian.thoughts</a></h1>
      </div>
    </div>
    <div class="row">
      <div class = "span9">
        <div class = "content">{{ content }}</div>
      </div>
      <div class = "span3 rightnav">
        <a href="http://www.ianenders.com"><i class = "icon-home"></i></a>
        <a href="http://github.com/ienders/"><i class = "icon-github"></i></a>
        <a href="http://twitter.com/ianenders/"><i class = "icon-twitter"></i></a>
        <a href="http://www.linkedin.com/profile/view?id=7290520"><i class = "icon-linkedin"></i></a>
      </div>
    </div>
  </div>
</body>
</html>